.tt-product:hover {
  height: 543px;
}

.tt-product,
.tt-product .tt-description {
  transition: all 0.2s linear;
}
.tt-product:hover .tt-description {
  transform: translateY(-69px);
}
.tt-product:hover .tt-description .tt-product-inside-hover {
  opacity: 1;
}
.ReactModal__Content .modal-header {
  height: auto;
}
@media (min-width: 1025px) {
  .ReactModal__Content .modal-body {
    padding: 30px;
  }
}
